<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script.
      window._xsrf = '{{ handler.xsrf_token }}';

    block variables

    block head
      link(rel="stylesheet", href!=handler.static_url('styles/main.css'))

    title Page

  body
    block main
      h1 Hola mundo
      p hola mundo
